workflows/BVault - Get Today To Dos.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-06T03:32:14.000Z",
    "createdAt": "2026-02-06T03:31:48.410Z",
    "versionId": "f3944c7a-d146-42b6-8ff9-def3795f7cd8",
    "workflowId": "yKJ3EcvxtnrUUwv926paM",
    "nodes": [
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "=PATH=$PATH:/home/secbot/.local/bin/; claude -r  {{ $json.session_id }} -p --permission-mode acceptEdits \"Can you summarize my to do's for {{ $json.date }} and anything coming up the rest of this week?\"",
          "cwd": "/home/secbot"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          432,
          0
        ],
        "id": "9bc2b80b-5839-48de-bbd0-8bda03cbaa74",
        "name": "Execute a command",
        "credentials": {
          "sshPrivateKey": {
            "id": "zMpYEN80B0t1Q58t",
            "name": "SSH Osgiliath"
          }
        }
      },
      {
        "parameters": {
          "chatId": "8526724892",
          "text": "={{ $json.stdout }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          672,
          0
        ],
        "id": "2524efd8-64b1-4806-ac88-adec6f259193",
        "name": "Send a text message",
        "webhookId": "5a1ba1f3-ecac-4430-b499-5f6584ea00b5",
        "credentials": {
          "telegramApi": {
            "id": "RICZVhd35IuBZYc6",
            "name": "Telegram hjedibot"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 5
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "fa85871b-ef3f-46fb-a336-2e812a4a1178",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"session_id\": \"11f422de-33a1-4729-a3eb-6feac2547546\"\n  \"date\": \"{{ $now.toFormat('yyyy-MM-dd') }}\"\n}\n ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "9eb13589-f1e1-4e5a-ac08-2e0aa4e3ec90",
        "name": "Inject Date/Session"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ntfy.sh/svjgQ5oxGZJoizCu",
          "sendBody": true,
          "contentType": "raw",
          "body": "=BVault Updated: {{ $json.stdout }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          672,
          -192
        ],
        "id": "bd85c6e0-d52f-4c9f-865d-9a750da4a767",
        "name": "Send to NTFY",
        "disabled": true
      }
    ],
    "connections": {
      "Execute a command": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Inject Date/Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inject Date/Session": {
        "main": [
          [
            {
              "node": "Execute a command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brian Hirst",
    "name": "Version f3944c7a",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "f3944c7a-d146-42b6-8ff9-def3795f7cd8",
  "connections": {
    "Execute a command": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Inject Date/Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Date/Session": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-06T03:27:25.699Z",
  "id": "yKJ3EcvxtnrUUwv926paM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BVault - Get Today To Dos",
  "nodes": [
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=PATH=$PATH:/home/secbot/.local/bin/; claude -r  {{ $json.session_id }} -p --permission-mode acceptEdits \"Can you summarize my to do's for {{ $json.date }} and anything coming up the rest of this week?\"",
        "cwd": "/home/secbot"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "9bc2b80b-5839-48de-bbd0-8bda03cbaa74",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "zMpYEN80B0t1Q58t",
          "name": "SSH Osgiliath"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8526724892",
        "text": "={{ $json.stdout }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "2524efd8-64b1-4806-ac88-adec6f259193",
      "name": "Send a text message",
      "webhookId": "5a1ba1f3-ecac-4430-b499-5f6584ea00b5",
      "credentials": {
        "telegramApi": {
          "id": "RICZVhd35IuBZYc6",
          "name": "Telegram hjedibot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fa85871b-ef3f-46fb-a336-2e812a4a1178",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"session_id\": \"11f422de-33a1-4729-a3eb-6feac2547546\"\n  \"date\": \"{{ $now.toFormat('yyyy-MM-dd') }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "9eb13589-f1e1-4e5a-ac08-2e0aa4e3ec90",
      "name": "Inject Date/Session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/svjgQ5oxGZJoizCu",
        "sendBody": true,
        "contentType": "raw",
        "body": "=BVault Updated: {{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -192
      ],
      "id": "bd85c6e0-d52f-4c9f-865d-9a750da4a767",
      "name": "Send to NTFY",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "l6cTBPD1mo-Amcj4rShqQ",
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-02-06T03:27:25.701Z",
      "createdAt": "2026-02-06T03:27:25.701Z",
      "role": "workflow:owner",
      "workflowId": "yKJ3EcvxtnrUUwv926paM",
      "projectId": "Qi7hejIuuHn0WOEG"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-06T03:58:09.566Z",
  "versionId": "f3944c7a-d146-42b6-8ff9-def3795f7cd8"
}