workflows/Checking Docker Services.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Piwingo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Check Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection": {
      "main": [
        [],
        [
          {
            "node": "NTFY - MariaDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "NTFY - PSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Piwingo": {
      "main": [
        [
          {
            "node": "Check Connection - Piwingo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection - Piwingo": {
      "main": [
        [],
        [
          {
            "node": "NTFY - Piwingo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-06T04:09:11.521Z",
  "id": "YuD9BhsP00t3G4beARlSc",
  "isArchived": false,
  "meta": null,
  "name": "Checking Docker Services",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        128
      ],
      "id": "7d8cb5dd-bf28-4bed-a561-ae23190ffb9f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "b31ceb78-d477-46e1-bc14-09ecac96cd9d",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "show processlist",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        0,
        320
      ],
      "id": "42b14714-b762-4827-a61d-1af391f2d34a",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "163d8749-4ab6-4819-8677-35ac74d3305d",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        0
      ],
      "id": "74881fdf-1416-4a26-9bd5-97d186063973",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "163d8749-4ab6-4819-8677-35ac74d3305d",
              "leftValue": "={{ $json.Tables_in_mysql }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        320
      ],
      "id": "abfd40f2-f8ef-460f-ad57-c5cd78875b54",
      "name": "Check Connection"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/svjgQ5oxGZJoizCu",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "Maria DB is not operational, affected services: Piwingo Server",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        16
      ],
      "id": "c04bca26-c4b2-4ec0-a908-76a24cd7a484",
      "name": "NTFY - PSQL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/svjgQ5oxGZJoizCu",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "Maria DB is not operational, affected services: Piwingo Server",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        336
      ],
      "id": "5add9e96-984c-445d-b0b4-6c3188c43a61",
      "name": "NTFY - MariaDB"
    },
    {
      "parameters": {
        "url": "https://fambam.hjedi.net/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        512
      ],
      "id": "7ccec2dd-b6c3-4aff-8e94-97331369937a",
      "name": "Check Piwingo",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/svjgQ5oxGZJoizCu",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "Piwingo is not operational",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        528
      ],
      "id": "5ac399bb-ef0f-422a-a49e-e494ad44eefd",
      "name": "NTFY - Piwingo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "163d8749-4ab6-4819-8677-35ac74d3305d",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        512
      ],
      "id": "e1d465c5-153e-4606-816b-2e489ee2bfe2",
      "name": "Check Connection - Piwingo",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-06T04:09:11.525Z",
      "createdAt": "2026-02-06T04:09:11.525Z",
      "role": "workflow:owner",
      "workflowId": "YuD9BhsP00t3G4beARlSc",
      "projectId": "Qi7hejIuuHn0WOEG"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-02-06T04:09:09.913Z",
      "createdAt": "2026-02-06T04:09:09.913Z",
      "id": "kGmWErj2B4A2TBH8",
      "name": "healthcheck"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-06T04:09:15.427Z",
  "versionId": "27ea55da-7268-483b-b3bc-fc482150e80d"
}