workflows/Validate Lothlorien Mounts.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Execute a command": {
      "main": [
        [
          {
            "node": "Check with the model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check with the model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Self Heal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Self Heal": {
      "main": [
        [
          {
            "node": "Execute a command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command1": {
      "main": [
        [
          {
            "node": "Check with the model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check with the model1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Broadcast Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-06T04:10:02.976Z",
  "id": "-kl2ZVFO-29Wom3atW2Nx",
  "isArchived": false,
  "meta": null,
  "name": "Validate Lothlorien Mounts",
  "nodes": [
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "df -h"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -816,
        0
      ],
      "id": "dd8fb8e4-6002-4168-99c8-d254df798b0b",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "zMpYEN80B0t1Q58t",
          "name": "SSH Osgiliath"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an IT expert.  I need you to monitor health on this server, doing things that cannot be done by other things. \n\nThe following should be considered using the output at the bottom of the prompt and keep the reply very simple (mount <MOUNTPOINT>: success or mount<MOUNTPOINT>: fail).\n- Confirm that we have a mount at /mnt/data with a capacity of 2 TB. \n- Confirm that we have a mount at /mnt/data_lowspeed with a capacity of 3 TB.\n- Confirm that we have a mount at /mnt/backup with a capacity of > 25 TB.\n\n {{ $json.stdout }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -592,
        0
      ],
      "id": "48c7ab1c-c77f-41f0-8437-cd2f2b152925",
      "name": "Check with the model",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "510a298e-29fb-4174-8caf-5fc67611f545",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        0
      ],
      "id": "ba0b20e7-4d18-47cf-8967-cb5353c37309",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/svjgQ5oxGZJoizCu",
        "sendBody": true,
        "contentType": "raw",
        "body": "=There is an issue on the mounts on Lothlorien {{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        0
      ],
      "id": "f48fcc23-1d35-4de5-8654-fe6ec2c9dbff",
      "name": "Broadcast Error Message"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "sudo mount /mnt/data; sudo mount /mnt/data_lowspeed; sudo mount.nfs 192.168.4.11:/backups /mnt/backups/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "a1fb0752-78c1-46da-931b-dbd49f0f00cb",
      "name": "Self Heal",
      "credentials": {
        "sshPrivateKey": {
          "id": "zMpYEN80B0t1Q58t",
          "name": "SSH Osgiliath"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1040,
        0
      ],
      "id": "d56f93eb-5a9f-4660-bbeb-128f053d1505",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "df -h"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "59b09591-d9b3-4faf-88a1-3fadbc70effb",
      "name": "Execute a command1",
      "credentials": {
        "sshPrivateKey": {
          "id": "zMpYEN80B0t1Q58t",
          "name": "SSH Osgiliath"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an IT expert.  I need you to monitor health on this server, doing things that cannot be done by other things. \n\nThe following should be considered using the output at the bottom of the prompt and keep the reply very simple (mount <MOUNTPOINT>: success or mount<MOUNTPOINT>: fail).\n- Confirm that we have a mount at /mnt/data with a capacity of 2 TB. \n- Confirm that we have a mount at /mnt/data_lowspeed with a capacity of 3 TB.\n- Confirm that we have a mount at /mnt/backup with a capacity of > 25 TB.\n\n{{ $json.stdout }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "d6cad99f-5120-49b1-8df1-fa37968e7bcf",
      "name": "Check with the model1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "510a298e-29fb-4174-8caf-5fc67611f545",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        0
      ],
      "id": "ec0a803a-277a-4dd1-8e37-4ed5469a9171",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Overview\nThis script should connect to Osgiliath and Lothlorien which is doesn't currently have access to.  Keeping this one on the shelf for now."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -352
      ],
      "typeVersion": 1,
      "id": "fc4df6c7-8599-439f-97b3-acef4b16fef0",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-06T04:10:02.978Z",
      "createdAt": "2026-02-06T04:10:02.978Z",
      "role": "workflow:owner",
      "workflowId": "-kl2ZVFO-29Wom3atW2Nx",
      "projectId": "Qi7hejIuuHn0WOEG"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-06T04:12:43.091Z",
  "versionId": "2bd7bc73-fe63-488c-996e-1574005177be"
}